################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/Spotify.Api/bin/Debug/net6.0
/Spotify.Api/obj
/Spotify.Application/bin/Debug/net6.0
/Spotify.Application/obj
/Spotify.CrossCutting/bin/Debug/net6.0
/Spotify.CrossCutting/obj
/Spotify.Repository/bin/Debug/net6.0
/Spotify.Repository/obj
/Spotify.Domain/bin/Debug/net6.0
/Spotify.Domain/obj
/Spotify.Test/bin/Debug/net6.0
/Spotify.Test/obj
/Spotify.Infrastructure/obj
/Spotify.Infrastructure/bin/Debug/net6.0
